<div class="container">
  <div class="information">
    <div class="text-center">
      <h3><%= link_to 'Project', projects_path %></h3>
    </div>
    <div class="detail-information">
      <p>現在登録されているProject情報の一覧を表示、Document作成時に必要な情報を登録・編集します。</p>
    </div>
  </div>
  <div class="document">
    <div class="text-center">
      <h3>General Data</h3>
    </div>
    <div class="detail-information">
      <p>現在登録されているReference等情報の一覧を表示、Document作成時に必要な情報を登録・編集します。</p>
    </div>
  </div>
</div>